* {
  margin: 0;
  padding: 0;
}

header {
  height: auto;
  background-color: #CACACA;
  border: 1px solid #CACACA;
}
header .nav1 {
  width: 90%;
  margin: 0 auto;
  padding: 1%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
header .nav1 .logo-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 13px;
}
header .nav1 .logo-nav span {
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: left;
}
header .nav1 .input-nav {
  width: 520px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
}
header .nav1 .input-nav .input-btn {
  display: flex;
  width: 100%;
  margin-bottom: 10px;
  margin-bottom: 10px;
  align-items: center;
  justify-content: center;
  margin-top: 17px;
}
header .nav1 .input-nav .input-btn input {
  width: 480px;
  height: 40px;
  border: 1px solid #ccc;
  text-align: center;
  border-radius: 10px 0 0 10px;
  outline: none;
}
header .nav1 .input-nav .input-btn button {
  color: white;
  padding: 6px;
  background: #3E7850;
  border-radius: 0px 3px 3px 0px;
  border: 1px solid #3E7850;
  outline: none;
  border-radius: 0 10px 10px 0;
  width: 53px;
  height: 40px;
}
header .nav1 .input-nav .text-link {
  text-align: left !important;
}
@media only screen and (max-width: 1028px) {
  header .nav1 .input-nav {
    width: 360px;
  }
}
@media only screen and (max-width: 878px) {
  header .nav1 .input-nav {
    display: none;
  }
}
header .nav1 .contacts-nav {
  display: flex;
  align-items: end;
  flex-direction: column;
}
header .nav1 .contacts-nav span {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  text-align: right;
  color: #686868;
}
@media only screen and (max-width: 878px) {
  header .nav1 .contacts-nav span {
    display: none;
  }
}
header .nav1 .contacts-nav .log-num span {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  color: #252525;
}
@media only screen and (max-width: 878px) {
  header .nav1 .contacts-nav .log-num span {
    display: none;
  }
}
header .nav1 .menu .ipad {
  width: 40px;
  height: 40px;
  background: #686868;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
header .nav1 .menu .ipad .box {
  margin: 2px;
  width: 35px;
  height: 5px;
  background-color: white;
}
@media only screen and (min-width: 878px) {
  header .nav1 .menu {
    display: none;
  }
}
@media only screen and (max-width: 878px) {
  header .nav1 .menu {
    display: block;
  }
}
header .nav1 .input-nav2 {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
}
header .nav1 .input-nav2 .input-btn {
  display: flex;
  width: 100%;
  margin-bottom: 10px;
  margin-bottom: 10px;
  align-items: center;
  justify-content: center;
  margin-top: 17px;
}
header .nav1 .input-nav2 .input-btn input {
  width: 100%;
  height: 40px;
  border: 1px solid #ccc;
  text-align: center;
  border-radius: 10px 0 0 10px;
  outline: none;
}
header .nav1 .input-nav2 .input-btn button {
  color: white;
  padding: 6px;
  background: #3E7850;
  border-radius: 0px 3px 3px 0px;
  border: 1px solid #3E7850;
  outline: none;
  border-radius: 0 10px 10px 0;
  width: 53px;
  height: 40px;
}
header .nav1 .input-nav2 .text-link {
  text-align: left !important;
}
@media only screen and (min-width: 878px) {
  header .nav1 .input-nav2 {
    display: none;
  }
}
header .nav2 {
  display: flex;
  width: 100%;
  height: 60px;
  background-color: white;
}
header .nav2 ul {
  display: flex;
  align-items: center;
  width: 90%;
  margin: 0 auto;
}
header .nav2 ul li {
  list-style-type: none;
  padding: 0 20px;
}
header .nav2 ul li a {
  text-decoration: none;
  color: #232323;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 300;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
}/*# sourceMappingURL=stle.css.map */